* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
}

body {
    font-family: 'Quicksand', sans-serif;
}